# Environment files
.env

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# IDE files
.vscode/
.idea/

# Temporary files
tmp/

# Terraform local files
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.*
**/terraform.tfvars
**/crash.log
**/crash.*.log
